.collapse{
    display: flex;
    justify-content: space-around;
}
.sec-nav {
    position: fixed;
    z-index: 3434;
    overflow: hidden;
    background-color: white;
    width: 100%;
}
.container-fluid{
    padding: 10px 0;
}
.sec-nav nav .navbar-brand{
    color: black;
    font-size: 30px;
}
.sec-nav nav .navbar-brand span{
    color: #ff4400;
}
.sec-nav nav .navbar-brand:hover{
    color:#ff4400 ;
}
.sec-nav  .pags{
    font-size: 16px;
   width: 40%;
}
.sec-nav .pags ul li{
    padding: 0 10px 0 10px;
}
.sec-nav .pags ul li:hover{
    border-bottom: 2px solid #717275;
}
.sec-nav .pags ul li a{
    color: #717275;
    font-weight: bold;
}
.sec-nav .pags ul li a:hover{
    color: #ff4400;
    
}
.sec-nav .pags ul li .active{
    color: #ff4400;

}
.sec-nav .cont{
    margin-right: -100px;
}
.sec-nav .cont a i{
    font-size: 20px;
    color: #717275;
}
.sec-nav .cont a{
    padding: 0 10px;
}
.sec-nav .cont a i:hover{
    color: #ff4400;
}

/* ------------------end navbar------------------- */

header{
    box-sizing: border-box;
    margin: 0;
    background-color: #f0f8ff;
    padding-top: 90px;
}
header .row{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
header .row .dis{
    width: 50%;
    margin: 0;
    padding-left: 100px;

}
header .row .dis h1{
    font-size: 62px;
    font-weight: bold;
    color: #ff4400;
    padding-top: 150px;
    
}
header .row .dis h2{
    font-size: 62px;
    font-weight: bold;
    color: black;
    
}
header .row .img{
    width: 50%;
    margin: 0;
}
header .row .img img{
    background-size: cover;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width:990px) {
    header .row .dis{
        width: 100%;
        margin: 0;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    header .row .img{
        width: 100%;
        margin: 0;
    }
}

/* ----------------end the header section-------------------- */

.sec-one {
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 50px;
}
.sec-one .container h1{
    font-size: 62px;
    font-weight: bold;
    color: black;
    padding-bottom: 50px;
}
.sec-one .container h1 span{
    font-size: 62px;
    font-weight: bold;
    color: #ff4400;
}
.sec-one .container .row{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.sec-one .container .row .sign-in{
    box-sizing: border-box;
    width: 50%;
    margin: auto;
}
.sec-one .container .row .sign-in input,textarea{
    width: 80%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    
}
.sec-one .container .row .sign-in textarea{
    height: 150px;
}
.sec-one .container .row .sign-in button{
    width:30% ;
    height:50px ;
    border-radius: 30px;
    background-color: black;
    color: white;
    margin-top: 50px;
    border: none;
    font-weight: bold;
}
.sec-one .container .row .sign-in button:hover{
    background-color: #ff4400;
}
.sec-one .container .row .information{
    width: 50%;
    text-align: center;
    padding-top: 50px;
   
}
.sec-one .container .row .information .row .col-6{
    padding: 30px 0px;
}
.sec-one .container .row .information .row .col-6 a{
    text-decoration: none;
    color: #717275;
}
.sec-one .container .row .information .row .col-6 a:hover{
    color: #ff4400;
}
.sec-one .container .row .information .row .col-6 i{
    padding: 10px 7px;
}
.sec-one .container .row .information .row .col-6 i:hover{
  color: #ff4400;
}
.sec-one .container .row .information .row .pad-rit{
    border-bottom: 1px solid #717275;
    border-right: 1px solid #717275;
}
.sec-one .container .row .information .row .pad-lef{
    border-bottom: 1px solid #717275;
    
}
.sec-one .container .row .information .row .pad-top{

    border-right: 1px solid #717275;
}
.sec-one .container .row .information .row .pad-left{
   
}

@media (max-width:990px) {
    .sec-one .container .row .information{
        width: 100%;
    }
    .sec-one .container .row .sign-in{
        width: 100%;
    }
}


/* -----------------end the section one------------ */
footer{
    background-color: #000000;
    padding: 100px 0;
}
footer .container .row{
    justify-content: space-between;
}
footer .container .row .logo h3{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
footer .container .row .logo h3 span{
    color: #717275;
}
footer .container .row .logo h3 span:hover{
    color:#ff4400 ;
}
footer .container .row .logo p{
    color: #717275;
}
footer .container .row .logo p span{
    color: #ff4400;
}
footer .container .row .sitemap h3{
    color: white;
    font-weight: bold;
    font-size: 32px;
}
footer .container .row .sitemap a{
    text-decoration: none;
    color: #717275;
    display: block;
}
footer .container .row .sitemap a:hover{
    color: white;
}footer .container .row .bag-link{
    padding-top: 70px;
}
footer .container .row .bag-link a{
    text-decoration: none;
    color: #717275;
    display: block;
}
footer .container .row .bag-link a:hover{
    color: white;
}
footer .container .row .social h3{
    color: white;
    font-weight: bold;
    font-size: 32px;
}
footer .container .row .social a{
    text-decoration: none;
    color: #717275;
    display: block;
    display: inline;
}
footer .container .row .social a i{
    padding: 0 5px;
}
footer .container .row .social a i:hover{
    color: white;
}
footer h3{
    padding-bottom: 20px;
}


@media (max-width:770px) {
    footer .container .row div{
        width: 50%;
        padding-bottom: 20px;
    }
}
@media (max-width:550px) {
    footer .container .row div{
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
}

/* ent the brodacts html  */